#  Q1.. what is a database? Differentiate b/w SQL and NoSQL databases.

# ans.. Adatabase is an origanized collection of structured informatin or data typically stored electronically in computer system
 # SQL= structured  query language
 # NoSQL=not only structured query language

#  Q2..What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# ans..DDL= Data Definition Language  used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc

# The CREATE TABLE command creates a new table in the database

# example  
# CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

# ALTER
# ALTER TABLE Customers
# ADD Email varchar(255);

# DROP 
# DROP TABLE Shippers;

# TRUNCATE TABLE
# Example
# TRUNCATE TABLE Categories;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

# A data manipulation language (DML) is a family of computer languages including commands permitting users to manipulate data in a database. This manipulation involves inserting data into database tables, retrieving existing data, deleting data from existing tables and modifying existing data. DML is mostly incorporated in SQL databases

# INSERT=Used to insert new data records or rows in the database table
# UPDATE=Used to set the value of a field or column for a particular record to a new value
# DELETE=Used to remove one or more rows from the database table

# Q4. What is DQL? Explain SELECT with an example

# ans..DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

# Q5. Explain Primary Key and Foreign Key.

# ans..A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database

# A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

# Q6. Give the order of execution of SQL clauses in an SQL query.

# FROM
# ON
# JOIN
# WHERE
# GROUP BY
# WITH CUBE or WITH ROLLUP
# HAVING
# SELECT
# DISTINCT
# ORDER BY
# TOP